<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Client</title>
    <link rel="stylesheet" href="index.css">
</head>

<body id="standard">

<center>
<form method="post">
    <input type="number" required="required" placeholder="Type ID" name="name" th:field="*{displayKey.id}"><br>
<input type="submit" value="OK">
    <br>
    <br>

</form>
    
</div>
<form method="get">
    <button formaction="/home">Back to Menu</button>
</form>
    </div>
</center>
</body>
</html>
