<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="index.css">
    </head>
 
        <body id="home">
        <form  method="get">
            <button type="submit" formaction="/add">Add New Client</button>
            <button type="submit" formaction="/remove">Remove Client</button>
            <button type="submit" formaction="/all">All Clients</button>
            <button type="submit" formaction="/display">Display Client Data</button>

        </form>
        </body>
</html>